
1. Portugol/.DS_Store
.DS_Store
.DS_Store
.DS_Store
1. Portugol/.DS_Store
1. Portugol/1. TDS_EAD_UC02/.DS_Store
1. Portugol/1. TDS_EAD_UC02/.DS_Store
/3. Java/PrimeiroPrograma/nbproject/private/
/3. Java/PrimeiroPrograma/build/
/3. Java/OlaMundoSwing/nbproject/private/
/3. Java/OlaMundoSwing/build/
/3. Java/JavaFXApplication1/nbproject/private/
/3. Java/OlaMundoJavaFX/nbproject/private/
/3. Java/OlaMundoSwing/dist/
.DS_Store
.DS_Store
/3. Java/RelogioSwing/nbproject/private/
/3. Java/RelogioSwing/build/
.DS_Store
.DS_Store
