body{
  background: rgb(105, 179, 249);
  font: normal 13pt Georgia;
}

header{
  color: white;
  text-align: center;
}

section{
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 70%;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

footer{
  color: white;
  text-align: center;
}